* {
  margin: 0;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 1150px) {
  .Header > span {
    font-size: 2em !important;
  }

  .Header__about {
    margin-bottom: 3em;
  }

  .Header > div {
    font-size: 1em !important;
  }

  .Project {
    flex-direction: column;
  }

  .Project > a {
    width: 100%;
    height: auto !important;
  }

  .Project > a > img {
    width: 100%;
    height: auto !important;
  }

  #Main > div:nth-of-type(2n) {
    flex-direction: column !important;
  }

  .Footer__head {
    font-size: 1em !important;
  }

  .Footer__head > h2,
  .Footer__head > p {
    letter-spacing: 0.1em !important;
  }
}

@media screen and (max-width: 990px) {
  #Skills {
    padding: 1em !important;
  }

  #Skills > div {
    padding: 1em 0em !important;
  }

  #Skills > div > img {
    padding: 0.5em !important;
  }

  #Skills > div > p {
    margin: 1em 0em !important;
  }
}

@media screen and (max-width: 890px) {
  #Skills > div {
    flex-direction: column;
    align-items: center;
  }

  #Skills > div > p > a {
    margin-top: 2em !important;
    text-align: center;
  }
}
