.Footer {
  padding: 2em;
  /* background-image: url("https://i.pinimg.com/originals/d1/73/a0/d173a05b65b249a3b9909fda944fac70.jpg");
  background-size: contain;
  background-attachment: fixed; */
}

.Footer__head {
  color: #bbb;
  font-size: 1.5em;
  padding: 2em;
}
.Footer__head > h2 {
  color: #eee;
  letter-spacing: 0.2em;
  margin: 0.5em 0;
}
.Footer__head > p {
  font-style: italic;
  letter-spacing: 0.2em;
}

.Footer__contact {
  text-align: center;
  margin: 2em 0px;
}

.Footer__contact > a {
  color: #888;
  font-size: 1.7em;
  padding: 0.7em;
  transition: font-size 1s, color 0.5s;
}

.Footer__contact > a:hover {
  font-size: 48px;
  color: #fff;
}
