.Header {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/f1/98/6e/f1986e9aaca026aeb9e4ecb71b43ffab.jpg"),
    url("https://i.pinimg.com/originals/d1/73/a0/d173a05b65b249a3b9909fda944fac70.jpg");
  background-size: contain;
  background-attachment: fixed;
  color: whitesmoke;
}
.Header > span {
  font-size: min(5vw, 3em);
}

.Header > p {
  margin: 5px 0px;
  font-size: min(2.4vw, 1.5em);
  color: whitesmoke;
}

.Header > p > span {
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #f44292;
  font-weight: 900;
  font-style: italic;
}
