#Main {
  background: linear-gradient(-90deg, #02203c, #001528);
  display: flex;
  flex-direction: column;
}

.Main__head {
  color: whitesmoke;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #f44292;
  margin-bottom: 3em;
}

#Main > div:nth-of-type(1) {
  border-top: 1.5px solid transparent;
  border-image: linear-gradient(
    to right,
    #f0f0f0,
    rgb(69, 175, 218),
    rgb(85, 124, 240)
  );
  border-image-slice: 1;
}

#Main > div:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.Main__foot {
  margin: 2.5em 0em 1.5em 0em;
  color: whitesmoke;
  font-size: min(2.4vw, 1.5em);
}

.Main__foot > p > a {
  color: #f44292;
  transition: color 1s;
}

.Main__foot > p > a:hover {
  color: blanchedalmond;
}
