#Main {
  padding-top: 2em;
  background: linear-gradient(-90deg, #02203c, #001528);
  display: flex;
  flex-direction: column;
}

.Main__head {
  text-decoration: underline;
  color: whitesmoke;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #f44292;
  margin-bottom: 3em;
}

#Main > div:nth-of-type(2n) {
  flex-direction: row-reverse;
  background: linear-gradient(-90deg, #02204c, #001538);
}

.Main__foot {
  margin: 2.5em 0em 1.5em 0em;
  color: whitesmoke;
  font-size: min(2.4vw, 1.5em);
}

.Main__foot > p > a {
  color: #f44292;
  transition: color 1s;
}

.Main__foot > p > a:hover {
  color: blanchedalmond;
}
