#TotalNav {
  box-sizing: border-box;
  font-size: 1.3em;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999;
}

.Navbar {
  background-color: black;
  box-sizing: border-box;
  width: inherit;
  padding: 0em 1em;
  height: 2.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: background-color 0.3s ease-in;
}

.Navbar__container {
  background-color: black;
  box-sizing: border-box;
  padding: 0em 1em;
  opacity: 0;
  height: 0px;
  font-size: 0px;
  font-style: italic;
  color: white;
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease-in, background-color 0.3s ease-in;
}

.Navbar__list {
  padding: 0.7em 0em;
}
