.Project {
  color: whitesmoke;
  display: flex;
  height: 302px;
  max-height: 302px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid transparent;
  border-image: linear-gradient(
    to right,
    #f0f0f0,
    rgb(69, 175, 218),
    rgb(85, 124, 240)
  );
  border-image-slice: 1;
}
.Project > a {
  height: 302px;
}
.Project > a > img {
  object-fit: contain;
  height: 302px;
  transition: height 1s, box-shadow 1s;
}

.Project > a > img:hover {
  height: 105%;
  box-shadow: 0px 0px 20px yellow;
}

.Project > div {
  box-sizing: border-box;
  max-height: 302px;
  padding: 1em;
  overflow: scroll;
}

.Project > div > center {
  text-decoration: underline;
  letter-spacing: 0.205em;
  text-transform: uppercase;
}

.Project > div > p {
  margin: 2em;
  font-style: italic;
}
