.Project {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgb(85, 124, 240);
}

.Project > a {
  height: 302px;
}

.Project > a > img {
  object-fit: contain;
  height: 302px;
  transition: height 1s, box-shadow 1s;
}

.Project > a > img:hover {
  height: 105%;
  box-shadow: 0px 0px 20px yellow;
}

.Project > div {
  box-sizing: border-box;
  max-height: 302px;
  padding: 1.5em;
  overflow: scroll;
}

.Project > div > center {
  text-decoration: underline;
  letter-spacing: 0.205em;
  text-transform: uppercase;
}

.Project > div > p {
  margin: 2em;
  font-style: italic;
  text-align: center;
  line-height: 1.7em;
}
