#Skills {
  padding: 2em;
  margin-bottom: 2em;
  background-color: #2f2fa2;
  color: white;
}

#Skills > center {
  text-decoration: underline;
}

#Skills > div {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

#Skills > div > img {
  padding: 1em;
  background-color: #2f2fa2;
  height: 20em;
  width: 20em;
  border-radius: 20em;
}

#Skills > div > p {
  opacity: 0.8;
  margin: 1em 0.5em;
  padding: 1.5em;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 350;
  letter-spacing: 0.075em;
}

#Skills > div > p > strong {
  color: #39cccc;
  text-decoration: underline;
  font-style: italic;
}

#Skills > div > p > a {
  color: rgb(255, 255, 0) !important;
  font-size: 1.5em;
  margin-top: 1em;
  display: block;
  text-decoration: none;
  color: white;
}

#Skills > div > p > a:hover {
  text-decoration: underline;
}
